/* Utils */

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.bg-bug {
  background-color: #a7f1ac;
}

.bg-dark {
  background-color: #464545;
}

.bg-dragon {
  background-color: #608be7;
}

.bg-electric {
  background-color: #f5ff63;
}

.bg-fairy {
  background-color: #f199ea;
}

.bg-fighting {
  background-color: #af704c;
}

.bg-fire {
  background-color: #fc8080;
}

.bg-flying {
  background-color: #bdbcbc;
}

.bg-ghost {
  background-color: #720e75;
}

.bg-grass {
  background-color: #5bf565;
}

.bg-ground {
  background-color: #8d5535;
}

.bg-ice {
  background-color: #44f0f0;
}

.bg-normal {
  background-color: #e4e3e3;
}

.bg-poison {
  background-color: #d476fa;
}

.bg-psychic {
  background-color: #c024ce;
}

.bg-rock {
  background-color: #757575;
}

.bg-steel {
  background-color: #beb9b9;
}

.bg-water {
  background-color: #76cdf5;
}
